.header {
  background: #0f172a;
  color: white;
  padding: 12px 0;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
  text-decoration: none;
}

.nav a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #38bdf8;
}

.auth a {
  margin-left: 12px;
  text-decoration: none;
  color: white;
}

.btn {
  background: #38bdf8;
  padding: 6px 12px;
  border-radius: 6px;
  color: #0f172a !important;
  font-weight: bold;
}

.logout {
  border: none;
  cursor: pointer;
}
